page-register {
    .terms-policy {
        font-size: 13px;
        color: #243B6B;
        text-align: center;
        margin-top: 15%;
        span {
            text-decoration: underline;
        }
    }

    .ion-custom-content {
        margin-top: 25%;
    }
    
    .redirect-login {
        font-size: 13px;
        color: #243B6B;
        text-align: center;
        margin-top: 15%;
        text-decoration: underline;
        font-weight: bold;
    }
}
