page-add-preferred-store-address {
    border-top:1px solid #ccc;
    -webkit-box-shadow: -1px 0px 8px 0px rgba(87,3,87,0.6);
    -moz-box-shadow: -1px 0px 8px 0px rgba(87,3,87,0.6);
    box-shadow: -1px 0px 8px 0px rgba(87,3,87,0.6);
    
    .header-md::after{
        background: none;
    }
}
