<ion-header no-shadow no-border class="store-home-header">
  <ion-grid class="store-home-grid">
    <ion-row class="top-wrapper">
      <ion-col col-2 class="col-top-left">
        <ion-buttons class="store-button-icons">
          <button ion-button icon-only class="store-icon-back" (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col col-8 class="col-top-center">
        <ion-title class="store-title">Payment</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-card class="order-detail-item" *ngFor="let item of productList">
        <ion-card-content>
          <ion-row>
            <ion-col col-6 class="order-detail-image">
              <img [src]="item.productImg ? item.productImg:defaultThumbnail" />
            </ion-col>
            <ion-col col-6 class="order-detail-info">
              <ion-row class="order-detail-info-top">
                <ion-col col-6>
                </ion-col>
                <ion-col col-6>
                  <button class="store-list-btn order-detail-chat" (click)="openItemCustomNotes(item)">
                    <ion-icon name="text"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
              <ion-row class="order-detail-info-bottom">
                <ion-col class="order-detail-product">{{ item.productName }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="order-detail-price">{{ item.productSalesPrice }} x {{ item.qty }}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="order-detail-content">
            <ion-col>
              <ion-row>
                <ion-col col-6 class="order-detail-title">Picked Quantity:</ion-col>
                <ion-col col-6 class="order-detail-desc">{{ item.qty }}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row class="order-detail-receipt">
      <ion-col col-6 class="order-detail-title">Total Cost:</ion-col>
      <ion-col col-6 class="order-detail-amt">{{ finalAmount }}</ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="this.storeItem.onlinePayment == 'Y' && this.storeItem.counterPayment == 'Y' ">
    <ion-row>
      <ion-col>
        <button ion-button block color="danger" (click)="openPayOptionsModal()">Pay</button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="!(this.storeItem.onlinePayment == 'Y' && this.storeItem.counterPayment == 'Y')">
    <ion-row>
      <ion-col>
        <button ion-button block color="danger" (click)="onlinePaymentMode()" *ngIf="this.storeItem.onlinePayment == 'Y'">Online Payment</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block color="danger" (click)="counterPaymentMode()" *ngIf="this.storeItem.counterPayment == 'Y'">Counter Payment</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
