<ion-header>
  <ion-grid>
    <ion-row class="top-wrapper">
      <ion-col col-12 class="col-top-center">
        <ion-title class="store-title">Special Instructions for Store</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <div *ngIf="isEditable">
    <ion-row>
      <ion-col>
        <ion-textarea placeholder="Enter Special Instructions - eg. RX Refills Requests." [attr.rows]="4" [(ngModel)]="customNotes">{{ customNotes }}</ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block color="danger" (click)="cancelCustomNotes()">Cancel</button>
      </ion-col>
      <ion-col>
        <button ion-button block color="secondary" (click)="saveCustomNotes()">Ok</button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="!isEditable">
    <ion-item>
      <h2>{{customNotes}}</h2>
    </ion-item>
    <ion-row>
      <ion-col>
        <button ion-button block color="secondary" (click)="saveCustomNotes()">Ok</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>