page-custom-notes {
    top: 45% !important;
    border-top: 1px solid #ccc;
    -webkit-box-shadow: -1px 0px 8px 0px rgba(87,3,87,0.6);
    -moz-box-shadow: -1px 0px 8px 0px rgba(87,3,87,0.6);
    box-shadow: -1px 0px 8px 0px rgba(87,3,87,0.6);

    .scroll-content{
        margin-top: 35px;
    }
    .header-md::after{
        background: none;
    }
    ion-textarea{
        font-size: 1.2rem;
        border: 1px solid #eee;
    }
}
