page-store-list-home {
  .scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
  }
  .cardblock {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 9px;
    text-decoration: none;
  } 
}
