<ion-header no-shadow no-border class="store-home-header">
  <ion-grid class="store-home-grid">
    <ion-row class="top-wrapper">
      <ion-col col-2 class="col-top-left">
        <ion-buttons class="store-button-icons">
          <button ion-button icon-only class="store-icon-back" (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col col-6 class="col-top-center">
        <ion-title class="store-title">Profile</ion-title>
      </ion-col>
      <ion-col col-4 class="col-top-right" *ngIf="!isEdit">
        <ion-buttons class="store-button-icons">
          <button ion-button icon-only class="store-icon-back" (click)="editProfile()">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
      <!-- <ion-col col-4 class="col-top-right" *ngIf="isEdit">
        <ion-buttons class="store-button-icons">
          <button ion-button icon-only class="store-icon-back" (click)="saveProfile()">
            <ion-icon name="checkmark-circle"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <div *ngIf="!isEdit">
    <ion-grid class="profile-wrapper">
      <ion-row *ngFor="let item of userData">
        <ion-card class="profile-container">
          <ion-card-content>
            <ion-row>
              <ion-col class="profile-avatar">
                <img *ngIf="!isAvatar" src="assets/imgs/avatar.png">
                <img *ngIf="isAvatar" src="{{item.avatar}}">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="profile-title">{{ item.firstName + ' ' + item.lastName }}</ion-col>
            </ion-row>
            <div class="profile-seperator">
              <div class="mask"></div>
            </div>
            <ion-row class="profile-user-info">
              <ion-col>
                <!-- <ion-badge color="primary" item-end>test</ion-badge> -->
                <ion-row>
                  <ion-col class="profile-user-link">Email :
                    <span>{{ item.email }}</span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="profile-user-link">DOB :
                    <span>{{ item.dob | date:'MM/dd/yyyy' }}</span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="profile-user-link">Mob :
                    <span>{{ item.phone }}</span>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="isEdit">
    <ion-grid class="profile-wrapper">
      <ion-row *ngFor="let item of userData">
        <ion-card class="profile-container">
          <ion-card-content>
            <ion-row>
              <ion-col class="profile-avatar" (click)="presentActionSheet()">
                <img *ngIf="!isAvatar" src="assets/imgs/avatar.png">
                <img *ngIf="isAvatar" [src]="avatar">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="profile-title">{{ item.email }}</ion-col>
            </ion-row>
            <div class="profile-seperator">
              <div class="mask"></div>
            </div>
            <ion-row class="profile-user-info">
              <ion-col>
                <!-- <ion-badge  color="primary" item-end>test</ion-badge> -->
                <div class="ion-custom-content">
                  <div class="sub-heading">First Name</div>
                  <ion-input type="text" [(ngModel)]="firstName"></ion-input>
                  <div class="sub-heading">Last Name</div>
                  <ion-input type="text" [(ngModel)]="lastName"></ion-input>
                  <div class="sub-heading">Phone</div>
                  <ion-input type="phone" [(ngModel)]="phone"></ion-input>
                  <div class="sub-heading">Date of Birth</div>
                  <ion-item>
                    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dob"></ion-datetime>
                  </ion-item>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button block color="danger" (click)="saveProfile()">Save</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- <div *ngIf="!isEdit">
    <div>
      <ion-title>Link Account</ion-title>
      <ion-row> 
        <ion-col style="text-align: center" (click)="fbLink()">
          <ion-icon color="primary" name="logo-facebook"></ion-icon>
        </ion-col>
        <ion-col style="text-align: center" (click)="googleLink()">
          <ion-icon color="secondary" name="logo-google"></ion-icon>
        </ion-col>
        <ion-col style="text-align: center" (click)="emailLink()">
          <ion-icon color="danger" name="at"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <div class="login-form-body" *ngIf="emailLinking">
      <div class="form-group">
        <ion-input [(ngModel)]="account.email" type="email" class="form-control" placeholder="Email"></ion-input>
      </div>
      <div class="form-group">
        <ion-input [(ngModel)]="account.password" type="password" class="form-control" placeholder="Password"></ion-input>
      </div>
      <div class="form-action">
        <ion-row>
          <ion-col>
            <button ion-button block class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" (click)="linkUser()">Link</button>
          </ion-col>
          <ion-col>
            <button ion-button block class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" (click)="cancelLink()">Cancel</button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div> -->
</ion-content>
